@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap');

:root {
    --darkBlue: hsl(233, 26%, 24%);
    --limeGreen: hsl(136, 65%, 51%);
    --brightCyan: hsl(192, 70%, 51%);
    --grayishBlue: hsl(233, 8%, 62%);
    --lightGrayishBlue: hsl(220, 16%, 96%);
    --veryLightGray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;

}

body {
    font: 18px/1.5 'Public Sans', sans-serif;
    overflow-x: hidden;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
}


.container {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

/* header */

#menuToggle {
    display: none;

}

header {
    background-color: var(--white);
    margin-top: 0%;
    min-height: 70px;
}

header a {
    text-transform: capitalize;
    display: inline-block;
    font-size: 16px;
}

#header-nav ul {
    margin: 0%;
    padding: 0%;
}

#header-nav li {
    color: var(--grayishBlue);
    display: inline;
    padding: 0 1px 0 20px;

}

#header-nav li a::after {
    content: '';
    display: block;
    width: 0;
    /* margin-top: 0%; */
    height: 5px;
    background: var(--brightCyan);
    transition: width .3s;
}

#header-nav li a:hover::after {
    margin-top: 50%;
    width: 100%;
}


.invite-button {

    all: unset;
    text-transform: capitalize;
    width: 7em;
    background: linear-gradient(to right, hsl(136, 65%, 31%), hsl(192, 70%, 51%));

    padding: 0.6em 2em;
    border-radius: 28px;
    color: var(--white);
    font-size: 1.1em;
    border: 0;
    cursor: pointer;
    margin: 1em;
}

header .invite-button {

    margin: 2em;
}

/* showcase */

#showcase {
    overflow: hidden;
    width: 100%;
    min-height: 65vh;
    background-color: var(--veryLightGray);
    background-image: url("./images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position:  right -15vw top -20vw;
    display: flex;
    justify-content: space-evenly;
}

#showcase .container {
    all: unset;
    color: var(--darkBlue);
    align-self: center;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}

#showcase .invite-button {

    margin: .5em 0 0 0;

}

#showcase img {
    all: unset;
    margin: -8% -10% 0 0;
    max-height: 1%;
    max-width: 100%;
}

/* why-choose-easybank  */

#why-choose-easybank {
    background-color: var(--white);
}

#why-choose-easybank .container {
    all: unset;
    background-color: inherit;
    color: var(--darkBlue);
    align-self: center;
    margin-left: 5%;
    padding-left: 1em;
    margin-right: 5%;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1em;

}

#cards {
    all: unset;
    display: flex;
    justify-content: space-between;
}

.card {
    padding-top: 1em;
    height: 80%;
    flex-basis: 20%;
}

/* Articles  */

#latest-articels {
    background-color: var(--veryLightGray);
}

#latest-articels .container {
    all: unset;
    background-color: inherit;
    color: var(--darkBlue);
    align-self: center;
    margin-left: 5%;
    padding-left: 1em;
    margin-right: 5%;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1em;
}

#articles {
    all: unset;
    display: flex;
    justify-content: space-evenly;
    gap: 0.5em;

}

.article img {
    width: 100%;
    height: 180px;

}

.article {
    flex-basis: 25%;
    height: 80%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    box-shadow: 0 3px 10px rgba(102, 102, 102, 0.2);
}

.article h3 {
    padding-left: 1em;
}

.article h6 {
    padding-left: 2em;
}

.article p {
    padding-left: 1em;
}

/* footer */

footer {
    background-color: hsl(233, 26%, 24%);
    padding: 10px 50px;
    color: var(--white);
}

footer .container {
    all: unset;
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    color: inherit;
    align-self: center;
    margin-left: 1.5%;
    padding-left: 1em;
    margin-right: 1.5%;
    padding-right: 1em;

}

#footer-nav-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2em;
    flex-basis: 25%;

}

#socials ul {
    display: flex;
    justify-content: flex-start;
    gap: 0.3em;
}

footer ul {
    list-style: none;
}


#footer-nav-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2em;
    flex-basis: 25%;
}

#footer-nav-2 {
    all: unset;
    display: block;
    flex-direction: column;
    padding-top: 1.2em;

}

#footer-nav-3 {
    all: unset;
    display: block;
    flex-direction: column;
    padding-top: 1.2em;
}

#footer-nav-4 {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--grayishBlue);

}

footer a:hover {
    color: var(--limeGreen);

}

#socials img:hover {

    background-color: var(--limeGreen);

}


@media only screen and (max-width: 640px) {

    body {
        width: 100vw;

    }

    /* footer  */
    footer {
        padding: 10px 50px;
        min-height: 70vh;

    }

    footer .container {
        all: unset;
        background-color: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: inherit;
        margin-top: 1.5%;
        padding-left: 1em;
        padding-right: 1em;

    }

    #footer-nav-1 {
        width: 100%;
        text-align: center;
        gap: 1em;
        align-items: center;
        flex-basis: 25%;

    }

    #footer-nav-2 {
        width: 100%;
        text-align: center;
        flex-basis: 25%;
        margin-bottom: -1em;


    }

    #footer-nav-3 {
        width: 100%;
        text-align: center;
        flex-basis: 25%;

    }

    #footer-nav-4 {
        width: 100%;
        align-items: center;
        flex-basis: 25%;

    }


    /* articles */

    #latest-articels .container {
        all: unset;
        background-color: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: inherit;
        margin-top: 1.5%;
        padding-left: 1em;
        padding-right: 1em;
        gap: 1em;


    }

    #latest-articels h2 {
        color: var(--darkBlue);
    }

    #articles {
        all: unset;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 1em;

    }

    .article img {
        width: 100%;
        height: 60%;
        border-radius: 5%;

    }

    .article {
        height: 80vh;
        width: 90%;
        border-radius: 5%;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        box-shadow: 0 3px 10px rgba(102, 102, 102, 0.2);
    }

    .article h3 {
        padding-left: 1em;
    }


    /* why choose easybank */

    #why-choose-easybank .container {
        all: unset;
        background-color: inherit;
        color: var(--darkBlue);
        align-self: center;
        margin-left: 5%;
        padding-left: 1em;
        margin-right: 5%;
        padding-right: 1em;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 1em;
        text-align: center;

    }



    #cards {
        all: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .card {
        padding-top: 1em;
        height: 100%;
        width: 50%;
    }

    /* showcase */

    #showcase {
        overflow: hidden;
        width: 100%;
        min-height: 65vh;
        background-color: var(--veryLightGray);
        background-image: url("./images/bg-intro-mobile.svg");
        background-size: auto;
        background-position: bottom 80vw left -1vw;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    #showcase .container {
        all: unset;
        color: var(--darkBlue);
        align-self: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding-left: 1em;
        padding-right: 1em;
        align-items: center;
    }



    #showcase img {
        all: unset;
        margin-top: -35%;
        max-height: 1%;
        max-width: 100%;
    }

    /* Header  */

    header .invite-button {
        display: none;
    }

    #header-nav {
        display: none;

    }

    header .container {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
        padding-left: 5em;
        align-items: center;


    }

    header .container div {
        width: 50vw;
        height: 10vw;
        margin-left: -30%;
    }

    header .container div img {
        height: 100%;
        width: 100%;
    }

    /* hamburger menu  */
    #menuToggle {
        display: block;
        width: max-content;
        height: max-content;
        justify-self: flex-end;
        padding-right: -20vw;
        margin-right: 5em;
        background-color: inherit;
        border: 1px white dashed;

    }

    #menuToggle img {
        all: unset;
        margin-right: -300%;

    }

    #header-nav {
        top: 100px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: hsl(0, 0%, 100%);
        width: 80%;
        margin-left: -15vw;
        align-items: center;
        border-radius: 10px;
        text-align: center;
        opacity: 0;

    }

    #header-nav ul {
        list-style: none;

    }

    #header-nav li:after {
        content: "\A";
        white-space: pre;
    }

    #header-nav a {
        color: var(--darkBlue);
        text-decoration: none;
    }

}